package template

type SourcePage struct {
	Title string
	Nav   []TemplateLink
	Links []TemplateLink
}

templ sourceNavigation() {
}

templ sourceContent(source SourcePage) {
    <h1>{source.Title}</h1>
    <ul class="links">
        for _, link := range source.Links {
            <li><a href={ templ.SafeURL(link.Link) }>{ link.Title }</a></li>
        }
    </ul>
}

templ Source(source SourcePage) {
	@base("source", sourceNavigation(), sourceContent(source))
}
